.control-wrapper {
	width: 100%;
	height: 70px;
	padding: 0 35px;
	position: relative;
}
.progress-wrapper {
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	> span {
		display: inline-block;
		width: 32px;
		font-size: 12px;
		color: #eeeeee;
	}
}
.progress-main-wrapper {
	position: relative;
	margin: 0 6px;
	flex: 1;
	height: 20px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.progress-content {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: #ffffff;
}
.progress-mask {
	width: 0;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 0;

	background-color: #aaaaaa;
	border-radius: 2px;
	margin: -2px 0 0 0;
}
.progress-current {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -4px;
}
.control-main {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.control-main-center {
	flex-basis: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center-play {
	width: 34px;
	height: 34px;
}
.center-next {
	width: 25px;
	height: 25px;
	background: url('~@/assets/images/playbar.png') -82px -131px;
}
.center-prev {
	width: 25px;
	height: 25px;
	background: url('~@/assets/images/playbar.png') -1px -131px;

}
