@keyframes playing {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.song-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.song-background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	transform: scale(1.5);
	filter: blur(20px);
}
.song-content {
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 70px;
	top: 0;
	left: 0;
	z-index: 6;
	background: transparent;
}

.song-needlebar {
	width: 96px;
	height: 136px;
	position: absolute;
	top: 0;
	left: 50%;
	transform-origin: 0 0;
	transition: all .6s;
	background: url('~@/assets/images/needle-ip6.png');
	background-size: 100% 100%;
	z-index: 7;
}

.song-disc-wrapper {
	width: 296px;
	height: 296px;
	margin: 0 auto;
	z-index: 6;
	background: url('~@/assets/images/disc-ip6.png');
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	animation: playing 20s infinite linear;
}
.song-disc-poster {
	width: 184px;
	height: 184px;
	border-radius: 50%;
}

.song-lyric-wrapper {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	padding: 0 35px;
	position: absolute;
	top: 382px;
	bottom: 70px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.song-lyric-content {
	font-size: 12px;
	overflow: scroll;
	color: hsla(0,0%,100%,.6);
	flex: 1;
	 li {
		line-height: 24px;
		@include climp(1);
	}
}
.song-lyric-content::-webkit-scrollbar {
	display: none;
}
.high-light-lyric {
	color: #ffffff;
	font-size: 14px;
}
.lyric-title {
	margin-bottom: 14px;
	@include climp(1);
	>span {
		color: hsla(0,0%,100%,.6);
	}
}
.song-play-ctr {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	background-color: transparent;
}
.song-logo {
	width: 184px;
	height: 36px;
	position: absolute;
	top: 2px;
	left: -28px;
	z-index: 6;
	background: url('~@/assets/images/topbar.png') 0 -18px;
	transform: scale(.6);
}
